/* マイページ全体のスタイル */
.mypage {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
}

/* ユーザー情報のヘッダー部分 */
.mypage__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.mypage__header-right{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.mypage__header-left{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.mypage__image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
 
.mypage__name h2 {
    font-size: 24px;
    font-weight: bold;
}

.mypage__profile-edit {
    align-items: center;
} 

.mypage__edit-button {
    color: #ff6f61;
    padding: 10px 30px;
    border: 1px solid #ff6f61;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s
}

.mypage__edit-button:hover {
    background-color: #b2b3b7;
}

/* 出品商品、購入商品のボタン部分 */
.mypage__actions {
    margin-bottom: 30px;
    border-bottom: 1px solid #3d3d3d;
}

.mypage__action-buttons {
    display: flex;
    justify-content: left;
}

.mypage__button {
    color: #000;
    background-color: #f8f9fa; 
    padding: 10px 20px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.mypage__button-select {
    color: red;
    background-color: #f8f9fa;
    padding: 10px 20px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.mypage__button:hover {
    background-color: #b2b3b7;
}
.mypage__button-select:hover {
    background-color: #b2b3b7;
}

/* 商品リスト部分 */
.mypage__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.mypage__item {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.mypage__item-button {
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
}

.mypage__item-button img {
    width: 100%;
}

.item-card__image:hover {
    transform: scale(1.05);
}

/* 価格コンテナ */
.item-card__image-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    position: relative;
    object-fit: contain;
}

.item-card__image {
    position: relative; /* 子要素のabsolute配置を可能にする */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%;
    height: 250px;
}

.item-list__priceContainer {
    position: absolute;
    bottom: 10px; /* 画像の上に表示させる */
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    z-index: 10; /* 画像より前面に表示 */
}

.item-list__price{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    padding: 2px 12px 2px 8px;
}

/* 売約済みバッジ */
.item-list__soldout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 20; /* priceより前面に表示 */
}


@media( max-width: 768px){
    .mypage__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .mypage__header {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-around;
    }

    .item-card__image-img {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }
}