/* マイページ全体のスタイル */
.mypage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
}

/* ユーザー情報のヘッダー部分 */
.mypage__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.mypage__header-right{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.mypage__header-left{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.mypage__image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
 
.mypage__name h2 {
    font-size: 24px;
    font-weight: bold;
}

.mypage__profile-edit {
    align-items: center;
} 

.mypage__edit-button {
    color: #ff6f61;
    padding: 10px 30px;
    border: 1px solid #ff6f61;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s
}

.mypage__edit-button:hover {
    background-color: #b2b3b7;
}

/* 出品商品、購入商品のボタン部分 */
.mypage__actions {
    margin-bottom: 30px;
    border-bottom: 1px solid #3d3d3d;
}

.mypage__action-buttons {
    display: flex;
    justify-content: left;
}

.mypage__button {
    color: #000;
    background-color: #f8f9fa; 
    padding: 10px 20px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.mypage__button-select {
    color: red;
    background-color: #f8f9fa;
    padding: 10px 20px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.mypage__button:hover {
    background-color: #b2b3b7;
}
.mypage__button-select:hover {
    background-color: #b2b3b7;
}

/* 商品リスト部分 */
.mypage__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.mypage__item {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.mypage__item-button {
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
}

.mypage__item-button img {
    width: 100%;
}

.mypage__item:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
}
