/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__label {
    display: block;
    margin: 10px 0;
}

.modal__save-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal__save-button:hover {
    background-color: #45a049;
}

/* Overall page style */
.purchase-index {
    display:flex;
    justify-content: space-between;
    padding: 20px;
    gap:20px;
    background-color: #f7f7f7;
}

.purchase-index__left{
    width:55%;
}

.purchase-index__item-details {
    display: flex;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
}

.purchase-index__item-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.purchase-index__item-info {
    flex-grow: 1;
    margin-left: 20px;
}

.purchase-index__item-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.purchase-index__item-price {
    color: #333;
    font-size: 1.2em;
}

.purchase-index__summary {
    background-color: #f7f7f7;
    width: 40%;
    padding: 20px;
    margin-bottom: 20px;
}

.purchase-index__payment, .purchase-index__delivery {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.purchase-index__payment-content, .purchase-index__address-content{
    display: flex;
    justify-content: space-between;
}

.purchase-index__change-button {
    color: #3498db;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

.purchase-index__change-button:hover {
    background-color: #2980b9;
    color: white;
}

.purchase-index__section-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.purchase-index__summary-table th, .purchase-index__summary-table td {
    padding: 10px 20px;
    text-align: left;
}

.purchase-index__summary-table{
    width:100%;
    border: 1px solid #000 ;
    padding: 10px 20px 50px 20px;
    margin-bottom: 30px;
}
.purchase-index__delivery-table{
    text-align: left;
    margin-top: 20px;
}
.purchase-index__delivery-table th, td{
    padding-right: 20px;
}

.purchase-index__summary-button{
    text-align: center;
}
.purchase-index__summary-button-submit{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #ff5f5f;
    transition: background-color 0.3s;
}

.purchase-index__summary-button-submit:hover{
    background-color: #a91609;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
