/* sell-page */
.sell-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* sell-form */
.sell-form__header {
    margin-bottom: 20px;
    text-align: center;
}

/* 画像アップロード */
.sell-form__image-upload {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
}

/* カスタムボタンのスタイル */
.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

/* マウスオーバー時のスタイル */
.custom-file-label:hover {
    background-color: #a91609;
}

/* プレビュー画像のスタイル */
.image-preview img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

/* 商品の詳細 */
.sell-form__details,
.sell-form__item-info,
.sell-form__price {
    margin-bottom: 20px;
}
.sell-form__title{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #ccc;
}

.sell-form__label{
    margin-bottom: 5px;
}

.details-grid, .item-info-grid {
    width: 100%;
}

/* フォーム要素のスタイル */
.form-select,
.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

/* 出品ボタンのスタイル */
.sell-form__submit{
    text-align: center;
}
.submit-button {
    width: 100%;
    background-color: #ff5f5f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #a91609;
}